{% extends 'base.html' %}
{% load static %}

{% block title %} User Profile {% endblock title %}

{% block content %}
<div id="user-profile" class="container my-md-5 py-5">
    <div class="row">
        <!-- left panel -->
        <div class="col-md-3 profile-nav shadow-lg ps-0 ">
            {% if user_profile.profile_picture and user_profile.profile_picture.url %}
    <div class="user-heading bg-gradient-primary text-white text-center py-4">
        <img src="{{ user_profile.profile_picture.url }}" class="card-img-top border border-2 rounded-circle my-3"
            alt="profile img" style="width: 150px; height:150px;">
    </div>
{% else %}
    <div class="user-heading bg-gradient-primary text-white text-center py-4">
        <img src="{% static 'image/icon-3.png' %}" class="card-img-top border border-2 rounded-circle my-3"
            alt="default profile img" style="width: 150px; height:150px;">
    </div>
{% endif %}

            <ul class="nav flex-column bg-white shadow-lg py-3 my-md-0 my-5 mx-2">
                <li class="text-center">
                    <h4 class="font-weight-bolder mt-2">{{ user_profile.user.first_name|title }} {{ user_profile.user.last_name|title }}</h4>
                 </li>

                 <li class="text-center">
                    <p class="text-sm"><i class="fa-regular fa-user" style="color: #e24a18;"></i>{{ user_profile.user.username }}</p>  
                </li>
               
                <li class="text-center">
                    <p class="text-sm"> <i class="fa-regular fa-envelope" style="color: #e24a18;"></i> {{ user_profile.user.email }}</p>
                </li>
                <hr>
               <li class="nav-item">
                    <a class="nav-link" href="{% url 'account:update_user' user_profile.user.id %}"><i class="fas fa-user-edit me-2"></i>Edit Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account:delete_account' %}"><i class="fas fa-user-slash me-2"></i>Delete Account</a>
                </li>
            </ul>
        </div>

        <!-- right panel -->
        <div class="col-md-9">
            <div class="row">
                <!-- User Details -->
                <div class="col-md-12">
                    <div class="profile-info shadow-lg bg-white rounded px-5 py-4 mb-4">
                        <h3 class="mb-4">Your Info</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <p><strong>First Name:</strong> {{ user_profile.user.first_name|title }}</p>
                                <p><strong>Last Name:</strong> {{ user_profile.user.last_name|title }}</p>
                                {% if user_profile.country %}
                                    <p><strong>Country:</strong> {{ user_profile.country|title }}</p>
                                      {% endif %}
                                {% if user_profile.birthdate %}
                                    <p><strong>Birthday:</strong> {{ user_profile.birthdate|date:"F d, Y" }}</p>
                                {% endif %}
                                {% if user_profile.facebook_profile %}
                                <p><strong>Facebook Profile:</strong> <a href="{{ user_profile.facebook_profile }}">{{ user_profile.facebook_profile }}</a></p>
                                {% endif %}
                            </div>
                            <div class="col-md-6">
                                <p><strong>Email:</strong> {{ user_profile.user.email }}</p>
                                <p><strong>Mobile:</strong> {{ user_profile.mobile_phone }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

          
            <div class="row">
                <div class="col-md-4">
                    <div class="bg-white rounded px-4 py-4 mb-4 shadow-lg">
                        <h5 class="mb-3"><i class="fas fa-coins text-primary me-2"></i>Donations</h5>
                        <h4 class="mb-0">{{ donations|length }}</h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="bg-white rounded px-4 py-4 mb-4 shadow-lg">
                        <h5 class="mb-3"><i class="fas fa-chart-pie text-primary me-2"></i>Projects</h5>
                        <h4 class="mb-0">{{ projects|length }}</h4>
                    </div>
                </div>
            </div>

            <!-- Table -->
            <div class="row">
                <div class="col-md-12">
                    <div class="bg-white rounded px-5 py-4 mb-4 shadow-lg">
                        <h3 class="mb-4">Your Donations</h3>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Title</th>
                                    <th scope="col">Donation</th>
                                    <th scope="col">Created at</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if donations %}
                                    {% for donation in donations %}
                                    <tr>
                                        <td>{{ donation.project.title|truncatewords:2 }}</td>
                                        <td>{{ donation.amount }} L.E</td>
                                        <td>{{ donation.donated_at|date:"F d, Y" }}</td>
                                    </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr><td colspan="3">You haven't donated to any project yet :(</td></tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Projects -->
            <div class="row">
                <div class="col-md-12">
                    <h3 class="mb-4">Your Projects</h3>
                    <div class="row">
                        {% for project in projects %}
                        <div class="col-md-4">
                            <div class="card nearbyCard ratecard mb-4">
                                <img src="{{ project.pictures }}" class="card-img-top" alt="{{ project.title }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ project.title|title }}</h5>
                                    <p class="card-text">{{ project.details|truncatewords:20 }}</p>
                                    <p class="card-text">Raised: ${{ project.total_donations }} /${{ project.total_target }}</p>
                                    
                                    <div class="loader-container">
                                        <div class="loader loader-progress" data-progress="{{ project.progress_percentage }}">0%</div>               
                                    </div>

                                    <br>

                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}

{% block additional_js %}
<script src="{% static 'js/homeStyle.js' %}"></script>
{% endblock %}
