{% extends 'base_admin.html' %}
{% load static %}

{% block content %}
<div class="container comments">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title text-center mb-0">ADD Reply</h2>
                </div>
                <div class="card-body">
                    <form action="{% url 'admin_panel:add_reply' %}" method="post" class="w-75 m-auto">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-warning">ADD Reply</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

