{% extends "base.html" %}
{% load static %}
{% block title %} View Page {% endblock %}

{% block content %}

<main class="main">
    <img src="{% static 'image/black-map.png' %}" class="d-block w-100 bg-dark bg" alt="...">
    
    <div id="carouselExampleCaptions" class="carousel main-caresol slide " data-bs-ride="carousel">
    
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active rounded-circle" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" class="rounded-circle" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" class="rounded-circle" aria-label="Slide 3"></button>
        </div>
      
        <div class="carousel-inner inn-caresol text-center">
            <div class="carousel-item active">
                <img src="{% static 'image/slider1.png' %}" class="w-50" alt="...">
                <div class="carousel-caption project-caption d-none d-md-block position-absolute  start-20 translate-middle mt-3">
                    <h2><span>_</span>Who what we</h2>
                    <h1>Even the smallest of <br>donations can help <br>change a life <span>...</span></h1>
                    <a href="{% url 'payment:donate' %}"class="btn btn-warning w-25">Donate</a>
                </div>
            </div>
            <div class="carousel-item item-caresol">
                <img src="{% static 'image/slider2.png' %}" class="w-50" alt="...">
                <div class="carousel-caption d-none d-md-block position-absolute  start-20 translate-middle mt-3">
                    <h5><span>_</span>Who what we</h5>
                    <h2>Give a helping hand to
                        <br> those who need
                        <span>...</span></h2>
                        <a href="{% url 'payment:donate' %}" class="btn btn-warning w-25">Donate</a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'image/slider3.png' %}" class="w-50" alt="...">
                <div class="carousel-caption d-none d-md-block position-absolute start-20 translate-middle mt-3">
                    <h5><span>_</span>Who what we</h5>
                    <h2>Give a helping hand to
                        <br> those who need
                        <span>...</span>
                    </h2>
                    <a href="{% url 'payment:donate' %}"  class="btn btn-warning w-25">Donate</a>
                </div>
            </div>
        </div>
        
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</main>
<div class="container px-4 my-5">
    <div class="row gx-5">
          <div class="col d-flex align-items-center">
                <div class="p-3">
                    <h3><span class="text-warning">_</span> What we Do</h3>
                    <h2>Various things we help <br>in the whole world</h2>
                    <button class="btn btn-warning">About Charity</button>
                </div>
          </div>
          <div class="col">
                <div class="row p-3">
                    <div class="col-6 my-3">
                        <div class="p-3 ">
                            <img src="{% static 'image/features-1.png' %}" alt="">
                            <h3>Food and Water</h3>
                            <p>All our content marketing <br>service packages </p>
                        </div>
                      </div>
                    <div class="col-6 my-3">
                        <div class="p-3">
                            <img src="{% static 'image/features-2.png' %}" alt="">
                            <h3>Environment</h3>
                            <p>All our content marketing <br>service packages </p>
                        </div>
                    </div>
                    <div class="col-6 my-3">
                        <div class="p-3">
                            <img src="{% static 'image/features-3.png' %}" alt="">
                            <h3>Build and Repair</h3>
                            <p>All our content marketing <br>service packages </p>
                        </div>
                    </div>
                    <div class="col-6 my-3">
                        <div class="p-3 ">
                            <img src="{% static 'image/features-4.png' %}" alt="" class="text-center">
                            <h3>Education</h3>
                            <p>All our content marketing <br>service packages </p>
                        </div>
                    </div>
                </div>
          </div>
    </div>
</div>





<div id="projectCarousel" class="carousel slide my-5" data-bs-ride="carousel">
    <h1 class="text-center my-4" style="color:rgb(225, 99, 22);font-weight:bold;"> {{ project.title }} </h1>
    <div class="carousel-inner row row-cols-1 row-cols-md-3 g-4" id="projectCarouselInner">
        {% for picture in project.projectpicture_set.all %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <div class="col">
                    <div class="card h-100 w-50 m-auto">
                        <img src="{{ picture.image.url }}" class="card-img-top h-75" alt="..." >
                       
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#projectCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#projectCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>




    

<div class="container-fluid society my-4">
    <div class="text-center py-5">
        <img src="{% static 'image/gallery.png' %}" alt="" srcset="">
    </div>
</div>

<div class="container-fluid contact bg-dark my-4">
    <div class="container">
        <div class="row g-2">
            <div class="col-4">
                <div class="py-5 px-2">
                    <img src="{% static 'image/about2.jpg' %}" class="rounded" alt="" srcset="">
                </div>
            </div>
            <div class="col-4">
                <div class="py-5 px-2">
                    <img src="{% static 'image/about1.jpg' %}" class="rounded" alt="" srcset="">
                </div>
            </div>
            <div class="col-4 text-white">
                <div class="py-5 px-2">
                    <h6><span class="text-warning">_</span>VOLUNTEERS</h6>
                    <h2>Make big changes and <br> help the world</h2>
                    <p>Charity is the act of giving help to those in <br>
                        need of it. it is a humanitarian act. it involves <br>
                        giving money goods or
                    </p>
                    <ul>
                        <li> Extramural Funding</li>
                        <li> Bacteria Markers</li>
                        <li> Nam nec mi rdivmod rdivmod</li>
                        <li> In aliquot dui nec lectures</li>
                    </ul>
                    <button class="btn btn-warning">BECAME <br>A VOLUNTEER</button>
                </div>
            </div>
        </div>
    </div>
</div>



<!--rate-->
<div class="container-fluid">
    <div class="row my-5">
        <form id="ratingForm" method="POST" action="{% url 'project:add_rate' %}">
            {% csrf_token %}
            <input type="hidden" name="project_id" value="{{ project.id }}">
            <div class="container">
                <h5 class="text-center my-4"><span>_</span>Rate this Project<span>_</span></h5>
                <div class="star-rating">
                    <input type="radio" id="5-stars" name="rating" value="5" />
                    <label for="5-stars" class="star" style="font-size: 3em;">&#9733;</label>
                    <input type="radio" id="4-stars" name="rating" value="4" />
                    <label for="4-stars" class="star" style="font-size: 3em;">&#9733;</label>
                    <input type="radio" id="3-stars" name="rating" value="3" />
                    <label for="3-stars" class="star" style="font-size: 3em;">&#9733;</label>
                    <input type="radio" id="2-stars" name="rating" value="2" />
                    <label for="2-stars" class="star" style="font-size: 3em;">&#9733;</label>
                    <input type="radio" id="1-star" name="rating" value="1" />
                    <label for="1-star" class="star" style="font-size: 3em;">&#9733;</label>
                </div>
            </div>
            <div class="text-center my-5">
                <button type="button" id="submitRating" class="btn btn-warning">Add Rate</button>
            </div>
           
        </form>
        
    </div>
</div>

{% if messages %}
<div class="container">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}






<!--related projects-->
{% if projects_tag %}
<div id="project-cards" class="container-fluid mt-5 my-5 bg-dark">
    <div class="row my-5">
        <h1 class="topheader text-center col-12 my-5"><i class="fa-solid fa-house" style="color: #fb8423;"></i>Similar Projects</h1>
    </div>

    <div class="row row-cols-1 row-cols-md-5 g-4 my-5 justify-content-center">
        {% for project in projects_tag %}
        <div class="col">
            <div class="card nearbyCard ratecard">
                <img src="{{ project.pictures }}" class="card-img-top" alt="{{ project.title }}">
                <div class="card-body">
                    <h5 class="card-title text-center">{{ project.title }}</h5>
                    <p class="text-center">
                        {% for _ in "xxxxx" %}
                            <span><i class="fa-solid fa-star" style="color: #FFD43B;"></i></span>
                        {% endfor %}
                    </p>
                    
                    <div class="loader-container">
                        <div class="loader loader-progress" data-progress="{{ project.average_rating }}">0%</div>               
                    </div>
                    
                    <p class="card-text">{{ project.details }}</p>
                    <p class="card-text">Raised: ${{ project.total_donations }} / ${{ project.total_target }}</p>
                    
                    <div class="loader-container">
                        <div class="loader loader-progress" data-progress="{{ project.progress_percentage }}">0%</div>               
                    </div>

                    <br>

                    <a href="{% url 'project:view_project' project.id %}" class="btn btn-warning donatebtn text-light">Donate Now</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <br>
</div>
{% endif %}




<!--Comment-->
<div class="container">
    <h5 class="text-center my-4"><span>_</span>Leave a Comment<span>_</span></h5>
    <form action="{% url 'project:submit_comment' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="project_id" value="{{ project.id }}">
        <div class="mb-3">
            <label for="comment" class="form-label">Your Comment:</label>
            <textarea class="form-control" id="comment" name="comment" rows="3" required></textarea>
        </div>
        <button type="submit" class="btn btn-warning">Add Comment</button>
    </form>
</div>


    
<!-- Display comments -->
{% if comments %}
<div class="container-fluid my-5">
    <h5 class="text-center">Comments</h5>
    <div class="row">
        {% for comment in comments %}
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ comment.user.username }}</h5>
                    <p class="card-text">{{ comment.text }}</p>
                    <p class="card-text"><small class="text-muted">{{ comment.created_at }}</small></p>
                    <button class="btn btn-warning" onclick="toggleForm('form', '{{ comment.id }}')">Report Comment</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}


<!-- report-->
<div id="form" style="display:none">
    <form id="reportForm" method="post" action="{% url 'project:report_comment' %}">
        {% csrf_token %}
        <input type="hidden" id="projectInput" name="project" value="{{ project.id }}">
        <input type="hidden" name="user" value="{{ request.user.id }}"> 
        <input type="hidden" id="commentInput" name="comment" value="{{ comment.id }}"> 
        <select id="reasonSelect" name="reason">
            <option value="spam">Spam or scam</option>
            <option value="inappropriate">Inappropriate content</option>
            <option value="offensive">Offensive language</option>
            <option value="harassment">Harassment or bullying</option>
            <option value="misinformation">Misinformation</option>
            <option value="copyright">Copyright infringement</option>
            <option value="other">Other</option>
        </select>
        <button class="btn btn-warning" type="submit">Report</button>
    </form>
</div>



<!-- Report Form for Project -->
<div class="container-fluid my-5">
    <button class="btn btn-warning d-block" onclick="toggleForm('projectForm')">Report Project</button>
</div>


<div id="projectForm" style="display:none">
    <form id="projectReportForm" method="post" action="{% url 'project:report_project' %}">
        {% csrf_token %}
        <input type="hidden" name="project" value="{{ project.id }}">
        <input type="hidden" name="user" value="{{ request.user.id }}"> 
        <select name="reason">
            <option value="spam">Spam or scam</option>
            <option value="inappropriate">Inappropriate content</option>
            <option value="offensive">Offensive language</option>
            <option value="harassment">Harassment or bullying</option>
            <option value="misinformation">Misinformation</option>
            <option value="copyright">Copyright infringement</option>
        </select>
        <textarea name="other_reason" style="display: none;" rows="4" cols="50"></textarea>
        <button class="btn btn-warning" type="submit">Report Project</button>
    </form>
</div>


{% endblock %}







{% block additional_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
<script src="{% static 'js/homeStyle.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var carouselInstance = new bootstrap.Carousel(document.querySelector('#projectCarousel'), {
            interval: 5000, 
            wrap: true 
        });
    });

    document.getElementById("submitRating").addEventListener("click", function () {
        var selectedRating = document.querySelector('input[name="rating"]:checked').value;
        document.querySelector('input[name="rating"]').value = selectedRating;
        document.getElementById("ratingForm").submit();
    });

    function toggleForm(formId, commentId) {
        var x = document.getElementById(formId);
        if (x.style.display === "none") {
            x.style.display = "block";
            document.getElementById('commentInput').value = commentId;
        } else {
            x.style.display = "none";
        }
    }

    

</script>
{% endblock %}