{% extends 'base_admin.html' %}
{% block button %}
<div class="d-flex justify-content-start mb-3">
    <a href="{% url 'admin_panel:addcomment' %}"class="btn btn-success me-2">Add Comment</a>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <h2 class="mb-4 text-center"> Comments</h2>
            <table class="table table-bordered table-striped">
                <thead style="background-color: rgb(0, 200, 255);" class="text-light">
                    <tr>
                        <th>Project</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Comment</th>
                        <th>Created at</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for comment in comments %}
                    <tr>
                        <td>{{ comment.project.title }}</td>
                        <td>{{ comment.user.username }}</td>
                        <td>{{ comment.user.email }}</td>
                        <td>{{ comment.text }}</td>
                        <td>{{ comment.created_at }}</td>
                        <td class="d-flex justify-content-center">
                            <a href="{% url 'admin_panel:updatecomment' comment.id %}" class="btn btn-primary btn-sm me-2">Update</a>
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

